body {
    background-color: #ccc;
}

main {
    margin: 0 auto;
    background-color: #fff;
    width: 2000px;
    /* height: 800px; */
    display: grid;
    /* grid-template-columns: [start] 200px [sl] 800px [thl] 200px [end]; */
    /* grid-template-columns: 200px 1fr 1fr 1fr 200px; */
    grid-template-columns: repeat(5, 400px);
    grid-auto-rows: 400px;
    /* grid-auto-rows: 400px; */
    grid-auto-flow: column;
}

main img {
    /* width: 100px; */
    /* height: 100px; */
    align-self: start;
    justify-self: start;
    /* place-self: start center; */
}

main span {
    background-color: #f00;
}