/* TEMPLATE */

body {
  padding: 0;
}

.container-fluid {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  max-width: 1000px;
  padding: 0;
}

/* header */

header {
  height: 130px;
  overflow: hidden;
  width: 100%;
}

header a {
    text-decoration: none;
    color: #000;
}

#lesser-headers {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

header h1, header h6 {
    text-align: center;
}

header h1 {
  font-size: 40px;
}

/* slide menu */

.navbar {
  width: 100%;
  height: 50px;
  background: #ddd;
  display: flex;
}

.menu-items {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 100px;
    text-align: center;
}

.menu-items a {
    border: 1px solid #daa520;
    padding: 5px;
    font-size: 30px;
}

.slide {
  animation: slide .2s ease-in-out;
  animation-fill-mode: both;
}

.slide-rev {
  animation: slide-rev .2s ease-in-out;
  animation-fill-mode: both;
}

@keyframes slide {
  100% {height: 350px;}
}

@keyframes slide-rev {
  0% {height: 350px;}
  100% {height: 130px;}
}

/* footer */
footer {
  background-color: #ddd;
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  align-self: flex-end;
  flex-wrap: wrap;
  padding: 5px;
}

.contact-icons {
  justify-self: flex-end;
}

.fab, .fas {
  transform: scale(300%, 300%);
  margin: 20px;
  transition-duration: .2s;
}

/* hambuger menu */
.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;

  transform: scale(50%, 50%);
  margin-top: -35px;
  margin-left: 70%;
}

.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

/* //////////////////////////////////////////////////////////////////////*/

/* HOMEPAGE */
main {
  background-color: #fff;
  background-image: url('img/368-1.jpg');
  background-size: cover;
  height: 500px;
  width: 100%;
  animation: photos-switch 30s linear infinite forwards;
  border: 5px solid #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000;
  margin-bottom: 50px;
}

@keyframes photos-switch {
  0% {opacity: 0;}
  10% {background-image: url('img/368-1.jpg'); opacity: 1;}
  30% {opacity: 0;}
  50% {background-image: url('img/368-2.jpg'); opacity: 1;}
  70% {opacity: 0;}
  90% {background-image: url('img/368-3.jpg'); opacity: 1;}
  100% {background-image: url('img/368-3.jpg'); opacity: 0;}
}
  
/* //////////////////////////////////////////////////////////////////////////// */

/* GALLERY */

.gallery {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;
}

.gallery img, .photo-big {
  border: 5px solid #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000;
  cursor: pointer;
}

.gallery img {
  width: 300px;
  margin: 5px auto;
  object-fit: cover;
}

.photo-big {
  width: 100%;
  height: 400px;
  background: #000;
  position: fixed;
  left: 0;
  right: auto;
  /* background-image: url('img/368-3.jpg'); */
  background-size: cover;
  visibility: hidden;
}

.bg-filter {
  background-color: rgba(0, 0, 0, 0.5);
}

.show-big {
  visibility: visible;
  animation: show-big 1s both;
}

@keyframes show-big {
  0% {visibility: hidden}
  100% {visibility: visible}
}

@media screen and (max-width: 576px) {
    
}