/* TEMPLATE */

body {
  padding: 0;
}

.container-fluid {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  max-width: 1000px;
  padding: 0;
}

/* header */

header {
  height: 100px;
  overflow: hidden;
  width: 100%;
}

header a {
    text-decoration: none;
    color: #000;
}

#headers {
  margin-bottom: 50px;
}

header h1, header h6 {
    text-align: center;
}

header h1 {
  font-size: 40px;
}

/* slide menu */

.menu-items {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 100px;
    text-align: center;
}

.menu-items a {
    border: 1px solid #daa520;
    padding: 5px;
    font-size: 30px;
}

.slide {
  animation: slide .2s ease-in-out;
  animation-fill-mode: both;
}

.slide-rev {
  animation: slide-rev .2s ease-in-out;
  animation-fill-mode: both;
}

@keyframes slide {
  0% {height: 100px;}
  100% {height: 350px;}
}

@keyframes slide-rev {
  0% {height: 350px;}
  100% {height: 100px;}
}

/* footer */
footer {
  background-color: #daa520;
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  align-self: flex-end;
  flex-wrap: wrap;
}

.contact-icons {
  justify-self: flex-end;
}

.fab, .fas {
  transform: scale(300%, 300%);
  margin: 20px;
  transition-duration: .2s;
}

/* hambuger menu */
.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;

  transform: scale(50%, 50%);
  margin-top: -100px;
  margin-right: 30px;
}

.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

/* //////////////////////////////////////////////////////////////////////*/

/* HOMEPAGE */
main {
  background-image: url('img/368-1.jpg');
  background-size: cover;
  height: 500px;
  width: 100%;
  animation: photos-switch 30s linear infinite forwards;
  border: 5px solid #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000;
  margin-bottom: 50px;
}

@keyframes photos-switch {
  0% {opacity: 0;}
  10% {background-image: url('img/368-1.jpg'); opacity: 1;}
  30% {opacity: 0;}
  50% {background-image: url('img/368-2.jpg'); opacity: 1;}
  70% {opacity: 0;}
  90% {background-image: url('img/368-3.jpg'); opacity: 1;}
  100% {background-image: url('img/368-3.jpg'); opacity: 0;}
}
  
/* //////////////////////////////////////////////////////////////////////////// */

/* GALLERY */

.gallery {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.gallery img {
  width: 300px;
  margin: 5px auto;
  object-fit: cover;
  border: 5px solid #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
    
}