/* TEMPLATE */

body {
  padding: 0;
}

.container-fluid {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  max-width: 1200px;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  border-top: none;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin-bottom: 10px;
}

.container-fluid a:hover {
  color: #000;
}

/* header */

header {
  height: 150px;
  overflow: hidden;
  width: 100%;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 150px 200px;
  border-bottom: 1px solid #ccc;
}

header a {
    text-decoration: none;
    color: #000;
}

#headers {
  text-align: center;
}

#lesser-headers {
  display: flex;
  width: auto;
  justify-content: space-evenly;
}

header h1, header h6 {
    text-align: center;
}

header h1 {
  font-size: 40px;
}

.contact-header {
  display: flex;
  flex-direction: column;
}

/* slide menu */

.menu-items {
    display: grid;
    grid-column: 1 / 4;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 100px;
    text-align: center;
    height: 0px;
    width: 100%;
    justify-self: stretch;
    border-top: 3px solid #ccc;
    border-bottom: 3px solid #ccc;
}

.menu-items a {
    /* border: 1px solid #daa520; */
    background-color: #efefef;
    padding: 5px;
    font-size: 30px;
    transition-duration: .1s;
}

.menu-items a:hover {
  background-color: #ddd;
  color: #000;
  border: 1px solid #efefef;
}

.slide {
  animation: slide .2s ease-in-out;
  animation-fill-mode: both;
}

.slide-rev {
  animation: slide-rev .2s ease-in-out;
  animation-fill-mode: both;
}

@keyframes slide {
  100% {height: 350px;}
}

@keyframes slide-rev {
  0% {height: 350px;}
  100% {height: 150px;}
}

@keyframes photos-switch {
  0% {opacity: 0;}
  10% {background-image: url('img/368-1.jpg'); opacity: 1;}
  25% {opacity: 1;}
  30% {opacity: 0;}
  50% {background-image: url('img/368-2.jpg'); opacity: 1;}
  65% {opacity: 1;}
  70% {opacity: 0;}
  90% {background-image: url('img/368-3.jpg'); opacity: 1;}
  100% {background-image: url('img/368-3.jpg'); opacity: 0;}
}

/* footer */
footer {
  background-color: #efefef;
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  align-self: flex-end;
  flex-wrap: wrap;
  padding: 5px;
  border: 1px solid #daa520;
  box-shadow: 1px 1px 1px #000;
  margin-bottom: 10px;
}

.contact {
  display: flex;
  flex-direction: column;
}

.contact-icons {
  justify-self: flex-end;
}

.fab, .fas {
  transform: scale(300%, 300%);
  margin: 20px;
  transition-duration: .1s;
  color: #daa520;
  z-index: 0;
}

.fab:hover, .fas:hover {
  filter: opacity(.7);
}

/* hambuger menu */
.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;

  width: 50px;
  height: 50px;
  margin-top: -25px;
}

.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}

.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}

.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

/* //////////////////////////////////////////////////////////////////////*/

/* HOMEPAGE */
main {
  background-color: #fff;
  background-image: url('img/368-1.jpg');
  background-size: cover;
  height: 500px;
  width: 100%;
  animation: photos-switch 30s linear infinite forwards;
  border: 5px solid #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000;
  margin-bottom: 10px;
}

article h2 {
  margin-bottom: 30px;
}

article h2, .event h3 {
  text-align: center;
}

.event {
  height: 50px;
}

.event h3 {
  border-bottom: 1px solid #ccc;
}
  
/* //////////////////////////////////////////////////////////////////////////// */

/* GALLERY & ABOUT */

.gallery {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;
}

.gallery img, .photo-big, .about img {
  border: 5px solid #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000;
  cursor: pointer;
}

.gallery img, .about img {
  width: 100%;
  margin: 5px auto;
  object-fit: cover;
}

.photo-big {
  width: 100%;
  height: 500px;
  background: #000;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-size: cover;
  visibility: hidden;
  align-self: center;
  background-position: center;
  background-color: #eee;
  z-index: 1;
}

.show-big {
  visibility: visible;
  animation: show-big 1s both;
}

@keyframes show-big {
  0% {visibility: hidden}
  100% {visibility: visible}
}

.about {
  text-align: justify;
  display: flex;
  flex-direction: column;
}

.about p {
  padding: 10px;
}

.about-contact li {
  font-weight: 600;
  list-style-type: square;
}

.about-contact a {
  text-decoration: none;
  color: #daa520;
}

/* ///////////////////////////////////////////// */

/* PRICE LIST */

.list {
  height: 300px;
  border: 1px solid #daa520;
  margin: 5px auto;
  box-shadow: 1px 1px 1px #000;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.list li {
  list-style-type: square;
}

.list h2 {
  text-align: center;
  margin: 10px;
}

.properties {
  height: 100px;
}

.price {
  background-color: #fff;
  width: 100%;
  text-align: center;
  bottom: 0px;
  padding: 15px 0;
  border-top: 2px dashed #daa520;
}

/* ////////////////////////////////////////////////// */

@media screen and (min-width: 576px) {
  main {
    height: 600px;
  }

  .photo-big {
    height: 700px;
  }

  /* ABOUT */

  .pricelist {
    padding: 10px 0;
  }
}

@media screen and (min-width: 768px) {

  /* TEMPLATE */
  header {
    height: 200px;
  }

  .menu{
    display: none;
  }

  .menu-items {
    background: #efefef;
    display: flex;
    justify-content: space-evenly;
    height: 40px;
  }

  .menu-items a {
    width: 100%;
    font-size: 20px;
  }

  /* HOMEPAGE */
  main {
    height: 1000px;
  }

  article {
    display: flex;
    padding: 10px;
  }

  article h2 {
    width: 50%;
    align-self: center;
    margin: 10px;
  }

  article .events {
   width: 50%;
  }

  /* GALLERY */
  .gallery {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .gallery img {
    width: 100%;
  }

  .photo-big {
    background-size: contain;
    background-repeat: no-repeat;
  }
}

/* ////////////////////////////////////////////////////// */

@media screen and (min-width: 992px) {

  /* TEMPLATE */

  header {
    grid-template-columns: 10% 40% 0% 50%;
    height: 100px;
  }

  .contact-header {
    flex-direction: row;
  }

  .menu-items {
    grid-column: 3 / 5;
    height: 80px;
  }

  /* HOMEPAGE */

  .homepage {
    display: flex;
    width: 900px;
    justify-content: space-between;
  }

  main {
    height: 650px;
  }

  article {
    flex-direction: column;
  }

  article h2 {
    width: 400px;
    text-align: center;
    margin-bottom: 50px;
  }

  .events {
    align-self: center;
  }

  .event {
    margin-bottom: 50px;
  }

  /* GALLERY & PRICELIST */

  .gallery {
    grid-template-columns: 30% 30% 30%;
    justify-self: center;
  }

  .pricelist {
    display: flex;
    padding: 100px 0;
  }

  .list {
    width: 400px;
  }

  .active {
    animation: active .5s both;
    cursor: pointer;
    z-index: 1;
  }

  .active-rev {
    animation: active-rev .5s both;
    cursor: pointer;
    z-index: 0;
  }

  @keyframes active {
    0% {transform: scale(100%, 100%);}
    100% {transform: scale(125%, 125%);}
  }

  @keyframes active-rev {
    0% {transform: scale(125%, 125%);}
    100% {transform: scale(100%, 100%);}
  }

  /* ABOUT */

  .about {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 300px 300px;
    margin-bottom: 80px;
  }

  .about-contact {
    grid-row: 1 / 3;
    padding: 10px;
  }

  .about img {
    width: 100%;
    height: 280px;
  }
}

/* ////////////////////////////////////////////////////////////// */

@media screen and (min-width: 1200px) {
  .gallery {
    grid-template-columns: 25% 25% 25% 25%;
  }

  .photo-big {
    width: 95%;
    height: 95%;
  }
}